<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends & Posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css"
</head>

<body>
    <div class="ui menu">
        <div class="header item">BLOG Site</div>
        <div class="links">
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/new">New Blog</a>
        </div>
    </div>

