<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
        <form class="ui form" action="/blogs" method="post">
            <div class="field">
                <label>Title:</label>
                <input type="text" name="blog[title]" autocomplete="given-name" required>
            </div>
            <div class="field">
                <label>Image URL: (e.g: https://picsum.photos/id/557/400/400)</label>
                <input type="text" name="blog[image]" required>
            </div>
            <div class="field">
                <label>Post description: </label>
                <textarea name="blog[body]" required></textarea>
            </div>
            <button class="ui primary button" type="submit">Submit</button>
        </form>
</div>
<% include partials/footer %>