body{
    margin: 0;
    padding: 0;
}

.header{
    font-size: 20px;
}

.links{
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: row;
}
.links a{
    font-size: 16px;
    padding: 13px 16px !important;
    margin: 13px 0px !important;
}

textarea{
    resize: none !important;
}

.container.segment{
    width: 400px;
}

.editBlog{
    font-size: 17px;
    margin: 0 0 0 15px;
    background: #e5e5e5;
    padding: 0px 5px;
    text-transform: uppercase;
}

.date{
    position: relative;;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px;
    float: right;
    bottom: 71px;
    right: -40px;
    transform: rotate(-90deg)
}

.description p{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.main-wrapper{
    position: relative;
    background: #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    height: auto;
}

.main-wrapper .blog-wrapper{
    width: 380px;
    margin: 15px;
}

.blog-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}












footer{
    position: fixed;
    bottom: 0;
    background: #262626;
    width: 100%;
    text-align: center;
}
footer p{
    padding: 16px 0;
    color: #eee;
}